<% layout('./layouts/boilerplate.ejs') %>
<div class="container my-3" style="max-width: 600px">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= error.message %></h4>
    <% if (process.env.NODE_ENV !== 'production') { %>
    <p><%= error.stack %></p>
    <% } %>
  </div>
</div>